/******* Base Styles *******/

body {
  text-align: center;
  
  background: #555;
  
  font-family: "Asap", sans-serif;
  color: #fff;
}

h1 {
  font-size: 42px;
  
  color: #fff;
  
}

p {
  display: inline;
}

/******* Main Styles *******/

#app-body {
  background: green;
  width: 60%;
  text-align: center;
  
  margin: auto;
}

#controls {
  display: inline;
}



#display {
  color: #fff;
  font-size: 3em;
}